*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}


a {
    cursor: pointer;
    outline: 0;

    &:hover {
    	text-decoration: none;
    }
}

img {
	max-width: 100%;
}


